<div>

  <div>
    <input type="text" [(ngModel)]="svdata" (keyup)="setResource()">
    <!-- <span>
      <span>駆逐艦のみ</span>
      <input type="checkbox" [(ngModel)]="isSort">
    </span>
    <span>
      <span>Cond ≦ 49</span>
      <input type="checkbox" [(ngModel)]="isCond">
    </span> -->
    <input type="button" (keyup)="clearFleetList()" />
  </div>


  <div>
    <div><span><input type="checkbox" [(ngModel)]="firstFleet">第1艦隊</span></div>
    <div id="firstFleetArea">
      <table class="table table-striped table-hover">
        <tr>
          <th>No</th>
          <th>名前</th>
          <th>練度</th>
          <th>Cond値</th>
        </tr>
        <tr *ngFor="let f of firstFleetList">
          <td>{{f.no}}</td>
          <td>{{f.name}}</td>
          <td>{{f.level}}</td>
          <td>{{f.cond}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <div><span><input type="checkbox" [(ngModel)]="thirdFleet">第3艦隊(遊撃艦隊)</span></div>
    <div id="thirdFleetArea">
      <table class="table table-striped table-hover">
        <tr>
          <th>No</th>
          <th>名前</th>
          <th>練度</th>
          <th>Cond値</th>
        </tr>
        <tr *ngFor="let f of thirdFleetList">
          <td>{{f.no}}</td>
          <td>{{f.name}}</td>
          <td>{{f.level}}</td>
          <td>{{f.cond}}</td>
        </tr>
      </table>
    </div>
  </div>

<div>
  <div><span><input type="checkbox" [(ngModel)]="allFleet">全艦娘</span></div>
  <div>
    <table class="table table-striped table-hover">
      <tr>
        <th>No</th>
        <th>名前</th>
        <th>練度</th>
        <th>Cond値</th>
      </tr>
      <tr *ngFor="let k of kanmusuList">
        <td>{{k.no}}</td>
        <td>{{k.name}}</td>
        <td>{{k.level}}</td>
        <td>{{k.cond}}</td>
      </tr>
    </table>
  </div>
</div>
</div>