  <div class="create-top">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">資材入力</h3>
      </div>
      <div class="panel-body">
        <input class="form-control"  id="create-material"/>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">ランキング</h3>
      </div>
      <div class="panel-body">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">順位</h3>
          </div>
          <div class="panel-body">
            <input class="form-control"  id="create-rank"/>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">戦果</h3>
          </div>
          <div class="panel-body">
            <input class="form-control"  id="create-point"/>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">日付</h3>
      </div>
      <div class="panel-body">
        <input class="form-control"  id="create-date"/>
      </div>
    </div>
  </div>
