      <div class="create-top">
        <!-- 資材入力 -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">資材</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" id="create-material" [(ngModel)]="material" (keyup)="setResource()">
          <div>
            <span>燃料：{{fuel}}</span>
            <span>弾薬：{{ammunition}}</span>
            <span>鋼材：{{steel}}</span>
            <span>ボーキ：{{bauxite}}</span>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">順位</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2" id="create-rank" [(ngModel)]="rank">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">戦果</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3" id="create-point" [(ngModel)]="point">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">日付</span>
          <input type="text" class="form-control" aria-describedby="basic-addon4" id="create-date" type="date" [(ngModel)]="viewedDate" value="viewedDate | date : 'yyyy-MM-dd'">
        </div>

        <button class="btn btn-default btn-lg" id="create-register" (click)="register()">登録</button>
      </div>
